@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600&family=Fira+Code:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply font-firaCode;
  scroll-behavior: smooth;
}
body{
  @apply
  relative
  max-w-[1920px]
  mx-auto
}


@layer components {
  .section {
    @apply flex-col text-white container min-h-[95vh] flex items-center justify-center md:justify-around md:flex-row m-auto
  }
}

.astronaut-animation {
  animation-name: astronaut;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes astronaut {
  0% {
    left: -150px;
  }

  100% {
    left: 100%;
  }
}

.loader {
  display: block;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #22D3EE;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

.arrow-up{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color:#fff;
  font-size: 1.2rem;
  text-decoration: none;
  transition: transform .3s;
  animation: arrowAnimation linear 1;
}
.arrow-up:visited{
  color:#fff;
}
.arrow-up:hover{
  transform: scale(1.2);
}

